<Body background="https://previews.123rf.com/images/krekdm/krekdm1608/krekdm160800053/61579452-back-to-school-seamless-pattern-can-be-used-for-wallpaper-website-background-wrapping-paper-study-br.jpg" style="height: 600px;"> 
<div class="mt-4">
  <div style="background-color: white; padding: 20px; border-radius: 24px;">
  <h3>Đăng khóa học</h3>
  <a href="/me/store/courses">Khóa học của tôi</a>
    <form class="mt-4" method="POST" action="/courses/store">
        <div class="mb-3">
          <label for="name" class="form-label">Tên khóa học</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Mô tả</label>
          <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input type="text" class="form-control" id="image" name="image">
        </div>
        <div class="mb-3">
          <label for="videoId" class="form-label">Video Id</label>
          <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        <button type="submit" class="btn btn-primary">Tạo khóa học</button>
      </form>
</div>
</div>