<div class="row">
  <form class="mt-4" method="POST" action="/question/create" style="background-color: rgb(238, 236, 236);margin-bottom: 10px;border-radius: 12px;">
    <div class="mb-3">
      <label for="content" class="form-label" style="margin-top:10px">Nội dụng câu hỏi</label>
      <textarea
        type="text"
        class="form-control"
        id="content"
        name="content"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Tạo câu hỏi</button>
    <% questions.forEach(function(question){ %>
    <div style="padding: 8px 0 8px 8px;"><%= question.content %> <a href="">(Trả lời)</a></div>
    <% }); %>
  </form>
</div>
