<div class="row">
  <form class="mt-4" method="POST" action="/question/create">
    <div class="mb-3">
      <label for="content" class="form-label">Nội dụng câu hỏi</label>
      <textarea
        type="text"
        class="form-control"
        id="content"
        name="content"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Tạo câu hỏi</button>
  </form>

  <% questions.forEach(function(question){ %>
  <div><%= question.content %></div>
  <% }); %>
</div>
