<div
  class="slimScrollDiv"
  style="position: relative; overflow: hidden; width: 100%; height: auto"
>
  <div class="panel-body" style="overflow: hidden; width: 100%; height: auto;">
    <div class="mt-4">
      <div style="background-color: white; padding: 5px; border-radius: 24px">
        <div id="detail" data-id="0"><p style="text-align: center;">Vui lòng lựa chọn nội dung thông tin</p></div>
      </div>
    </div>
  </div>
</div>

